@{
    ViewBag.Title = "Read Excel File and Display in mvc5";
}

@using (Html.BeginForm("RowData", "RawDatas", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary();
    @Html.DropDownList("Files", null, "[Select a File]", htmlAttributes: new { @class = "form-control" })


    <div class="form-group">
        <div class="col-md-8">
            <div class="file-input-new">
                <div class="input-group" style="width:280px">
                    <div class="file-caption-name" id="NombreArchivo">
                    </div>
                    <div class="input-group-btn" style="height:auto">
                        <div tabindex="500" class="btn btn-primary btn-file">
                            <i class="glyphicon glyphicon-folder-open"></i>
                            File Search...
                            <input type="file" name="uploadfile" size="60" accept=".xlsx">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" id="btnRowdata" name="btnRowdata" class="btn btn-success" disabled>Enviar</button>
}

<!-- Modal -->
<div id="modalUser" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                        Loading....
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $('input[type=file]').change(function () {
            if ($('input[type=file]').val() == '') {
                $('button').attr('disabled', true)
            }
            else {
                $('button').attr('disabled', false);
            }
        })

        $('#myform').submit(function () {
            $('#modalUser').modal()
        });
    </script>

    @Html.Raw(ViewBag.Script)
}