@model LMB.Models.ComponentSummary

@{
    ViewBag.Title = "CreateCS";
}

<h2>Bridge Load Rating Statement</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
         <hr />
        @Html.HiddenFor(model => model.IdInspection)
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.ALRS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ALRS)
                    @Html.ValidationMessageFor(model => model.ALRS, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CSJ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSJ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CSJ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Loadof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Loadof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Loadof, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            @Html.LabelFor(model => model.LRCS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.LRCS)
                    @Html.ValidationMessageFor(model => model.LRCS, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ASLRS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ASLRS)
                    @Html.ValidationMessageFor(model => model.ASLRS, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item66, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InspectionRaiting", null, "[Select Option]", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item66, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item64, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownList("InspectionRaiting", null, "[Select Option]", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item64, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexCS", new { id = Model.IdInspection }) 
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

    $(document).ready(function () {
        $("#add").click(function () {
            var description = $("#Description").val();
            var alrs = $("#ALRS").val();
            var csj = $("#CSJ").val();
            var desing = $("#Loadof").val();
            var lrcs = $("#LRCS").val();
            var alrs = $("#ASLRS").val();
            var item66 = $("#Item66").val();
            var item64 = $("#Item64").val();
            var idinsp = $("#IdInspection").val();
            if (description != "" || owner != "") {
            var Url = '@Url.Action("SaveCS", "Done")';
                $.post(Url, { "id": idinsp, "Description": description, "ALRS": alrs, "CSJ": csj, "Loadof": desing, "LRCS": lrcs, "ASLRS": alrs, "Item66": Item66, "Item64": item64 })
               .done(function (data) {
                   swal('Info', 'Success', 'success');
               })
               .fail(function (xhr, status, error) {
                   swal('Error', xhr.responseText, 'error');
               });
            }
        });
    });

    </script>
}