@model LMB.Models.ComponentSummary

@{
    ViewBag.Title = "DeleteCS";
}

<h2>DeleteCS</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ComponentSummary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InspectionRaiting.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionRaiting.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdInspection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdInspection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loadof)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loadof)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALRS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALRS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASLRS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASLRS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LRCS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LRCS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item66)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item66)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item64)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item64)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "IndexCS", new { id = Model.IdInspection })
        </div>
    }
</div>
