@model LMB.Models.ComponentSummary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComponentSummary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspeRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspeRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvRatingH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvRatingH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvRatingHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvRatingHS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpRatingH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpRatingH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpRatingHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpRatingHS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdComponentSummary }) |
    @Html.ActionLink("Back to List", "Index")
</p>
