@model LMB.Models.Insp_Type_Attach

@{
    ViewBag.Title = "EditP";
}


@Styles.Render("~/Content/css")



@using (Html.BeginForm("EditP", "Done", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Bridge No. @Html.DisplayFor(model => model.numinspection)</h4>
        <hr />
        <label>Please enter the Information</label>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDAttach)
        @Html.HiddenFor(model => model.IDInspection)
        <div class="form-group">
            @Html.LabelFor(model => model.TypePicture.Description, "Caption", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDTypePicture", null,"[Select Caption]", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDTypePicture, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Caption," ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Caption, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Caption, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DirectionPhotoType.Description, "Direction", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdDirectionPhotoType", null, "[Select Direction]", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdDirectionPhotoType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhotoCameraNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhotoCameraNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhotoCameraNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageString, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="btn btn-default btn-file">
                    @Html.TextBoxFor(modelo => modelo.LogoFile, new { type = "file", id = "LogoFile", name = "LogoFile" , accept= "image/*" })
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        var option = $("#IDTypePicture option:selected").text();
        if (option != "[Select Caption]") {
            $('#Caption').attr('readonly', true);
        }
    }
    );

    $('#IDTypePicture').on('change', function () {
        var option = $("#IDTypePicture option:selected").text();
        if (option != "[Select Caption]") {
            $('#Caption').attr('readonly', true);
        } else {
            $('#Caption').attr('readonly', false);
        }
    })

    $('#myform').submit(function () {
        $('#mod-progress').modal()
    });
</script>
