@model IEnumerable<LMB.Models.InspectionDaily>

@{
    ViewBag.Title = "Done";
}

<style>
    table.dataTable thead tr {
        background: rgba(0, 63, 79, 0.1);
    }

    .grey {
        background-color: #e4e1e1;
    }
</style>
<div id="Botonera_Done">
    @Html.ActionLink("Load Photos Camera", "LoadMultifiles", null, new { @class = "btn btn-primary", @style = "float: right;", @onclick = "Progress();" })
</div>
<table class="table" id="rawdata_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumInspection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDBs.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scope)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateInspection)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumInspection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDBs.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scope)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.DateInspection)
                </td>
                <td>
                    <a id="Photos" data-target="#Photos" data-toggle="modal" data-id="" onclick="location.href='@Url.Action("Edit", new { id = item.IdInspection })'" href="#" class="unlock" title="Photos Report">
                        <img width="30" alt="Photos Report" title="Photos Report" src="~/img/loadphoto.png">
                    </a>


                    <!--             <button type="button" class="w3-button w3-light-grey w3-round" onclick="location.href='@Url.Action("Edit", new { id = item.IdInspection })'">

                                       <img width="30" alt="Photos Report" title="Load Pictures" src="~/img/loadphoto.png">
                                   </button>-->
                </td>
                <td>
                    <a id="Open Repor" data-target="#Photos" data-toggle="modal" data-id="" onclick="location.href='@Url.Action("PDFReport", new { id = item.IdInspection })'" href="#" class="unlock" title="Open Report">
                        <img width="30" alt="Open Report" title="Open Report" src="~/img/ic_report.png">
                    </a>
                    <!--         <button type="button" class="w3-button w3-light-grey w3-round" onclick="location.href='@Url.Action("PDFReport", new { id = item.IdInspection })'">

                                 <img width="30" alt="Open Report" title="Open Report" src="~/img/ic_report.png">
                             </button>-->
                </td>
                <td>
                    <a id="Open Repor" data-target="#Photos" data-toggle="modal" data-id="" onclick="location.href='@Url.Action("Reports", new { id = item.IdInspection })'" href="#" class="unlock" title="Other Report">
                        <img width="30" alt="Other Report" title="Other Report" src="~/img/ic_reportAll.png">
                    </a>
                    <!--   <button type="button" class="w3-button w3-light-grey w3-round" onclick="location.href='@Url.Action("Reports", new { id = item.IdInspection })'">

                          <img width="30" alt="Other Reports" title="Other Reports" src="~/img/ic_reportAll.png">
                      </button>-->
                </td>
                <td>
                    <a id="DownloadData" onclick="location.href='@Url.Action("Reports", new { id = item.IdInspection })'" href="#" class="unlock" title="Other Report">
                        <img width="30" alt="Download Data" title="Download Data" src="~/img/iconodown.png">
                    </a>
                    <!--   <button type="button" class="w3-button w3-light-grey w3-round" onclick="location.href='@Url.Action("Reports", new { id = item.IdInspection })'">

                        <img width="30" alt="Other Reports" title="Other Reports" src="~/img/ic_reportAll.png">
                    </button>-->
                </td>
            </tr>


        }



    </tbody>
</table>

@Html.ActionLink("Invoice Date", "filterdate", null, new { @class = "btn btn-primary", @style = "float: right;", @onclick = "Progress();" })


@Html.ActionLink("Invoice", "ReportBill", null, new { @class = "btn btn-primary", @style = "float: right;", @onclick = "Progress();" })

<!-- Modal -->
<div class="modal fade" id="myModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Invoice Report</h4>

            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                        <label for="idTourDateDetails">Invoice Range Date</label>
                        <div class="form-group">
                            <label for="dateini">initial Date</label>
                            <input type="text"  name="dateini" id="dateini" />
                            @*<input type="date" data-date-format="DD MMMM YYYY" name="dateini" id="dateini" />*@
                            <label for="datefin">final Date</label>
                            <input type="text" name="datefin" id="datefin" />
                            @*<input type="date" data-date-format="DD MMMM YYYY" name="datefin" id="datefin" />*@

                            <div class="modal-body">
                                <input type="hidden" name="bookId" id="bookId" value="" />
                                <input type="hidden" name="userId" id="userId" value="" />


                                <div class="form-group">
                                    <label for="sel1">User</label>
                                    @Html.DropDownList("Userdb", null, "[Select a User]", htmlAttributes: new { @class = "form-control", @onchange = "getval(this);" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="filter">Open Report</button>
                    <button id="closemodal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.25.6/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.25.6/sweetalert2.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#dateini').datepicker({ dateFormat: 'MM/dd/yy' });
            $('#datefin').datepicker({ dateFormat: 'MM/dd/yy' });
                inicializar(e);
            });
               function tabla() {
                var table = $("#rawdata_table").DataTable();

            }

            function inicializar(e) {
                tabla();
            }
    </script>

    <script type="text/javascript">
        $("#filter").on("click", function () {
            var Url = '@Url.Action("filterdate", "Done")';
            window.open(Url);
            });

            function Progress() {
                $('#mod-progress').modal()
            };
    </script>
    <script type="text/javascript">
            $('a').click(function () {
                $('#mod-progress').modal()
            });
    </script>
    @Html.Raw(ViewBag.Info)
}
