@model IEnumerable<LMB.Models.ComponentSummary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateCS")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspeRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvRatingH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvRatingHS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpRatingH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpRatingHS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InspeRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvRatingH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvRatingHS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpRatingH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpRatingHS)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCS", new { id=item.IdComponentSummary }) |
            @Html.ActionLink("Details", "DetailsCS", new { id=item.IdComponentSummary }) |
            @Html.ActionLink("Delete", "DeleteCS", new { id=item.IdComponentSummary })
        </td>
    </tr>
}

</table>
