@model IEnumerable<LMB.Models.InspectionDaily>

@{
    ViewBag.Title = "Done";
}

<style>
    table.dataTable thead tr {
 background: rgba(0, 63, 79, 0.1);
}
    .grey {
  background-color: #e4e1e1;
}

</style>
<div id="Botonera_Done">
    @Html.ActionLink("Load Photos Camera", "LoadMultifiles", null, new { @class = "btn btn-primary", @style = "float: right;", @onclick = "Progress();" })
</div>
<table class="table" id="rawdata_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumInspection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDBs.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scope)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectionState.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongitudeIni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatitudeIni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateInspection)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumInspection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDBs.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scope)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InspectionState.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongitudeIni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LatitudeIni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateInspection)
                </td>
                <td>
                    <a id="Photos" data-target="#Photos" data-toggle="modal" data-id="" onclick="location.href='@Url.Action("Edit", new { id = item.IdInspection })'" href="#" class="unlock" title="Photos Report">
                        <img width="30" alt="Photos Report" title="Photos Report" src="~/img/loadphoto.png">
                    </a>


     <!--             <button type="button" class="w3-button w3-light-grey w3-round" onclick="location.href='@Url.Action("Edit", new { id = item.IdInspection })'">

                        <img width="30" alt="Photos Report" title="Load Pictures" src="~/img/loadphoto.png">
                    </button>-->
                </td>
                <td>
                    <a id="Open Repor" data-target="#Photos" data-toggle="modal" data-id="" onclick="location.href='@Url.Action("PDFReport", new { id = item.IdInspection })'" href="#" class="unlock" title="Open Report">
                        <img width="30" alt="Open Report" title="Open Report" src="~/img/ic_report.png">
                    </a>
           <!--         <button type="button" class="w3-button w3-light-grey w3-round" onclick="location.href='@Url.Action("PDFReport", new { id = item.IdInspection })'">

                        <img width="30" alt="Open Report" title="Open Report" src="~/img/ic_report.png">
                    </button>--> 
                </td>
                <td>
                    <a id="Open Repor" data-target="#Photos" data-toggle="modal" data-id="" onclick="location.href='@Url.Action("Reports", new { id = item.IdInspection })'" href="#" class="unlock" title="Other Report">
                        <img width="30" alt="Other Report" title="Other Report" src="~/img/ic_reportAll.png">
                    </a>
                  <!--   <button type="button" class="w3-button w3-light-grey w3-round" onclick="location.href='@Url.Action("Reports", new { id = item.IdInspection })'">
                       
                        <img width="30" alt="Other Reports" title="Other Reports" src="~/img/ic_reportAll.png">
                    </button>--> 
                 </td>
            </tr>
            
             
        }
      
       

    </tbody>
</table>
@Html.ActionLink("Invoce", "ReportBill", null, new { @class = "btn btn-primary",@style= "float: right;", @onclick= "Progress();" })



@Html.Raw(TempData["msg"])
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            inicializar(e);
        }
    );
        function tabla() {
            var table = $("#rawdata_table").DataTable();

        }
        
        function inicializar(e) {
            tabla();
        }
    </script>
<script type="text/javascript">
    function Progress() {
        $('#mod-progress').modal()
    };
</script>
<script type="text/javascript">
        $('a').click(function () {
            $('#mod-progress').modal()
        });
</script>
@Html.Raw(ViewBag.Info)
}