@model IEnumerable<LMB.Models.BridgeInspectionFollowUp>

@{
    ViewBag.Title = "Index";
    LMB.Models.BridgeInspectionFollowUp bridgeInspectionFollowUp = new LMB.Models.BridgeInspectionFollowUp();
    if (Model.Count() == 0)
    {
        bridgeInspectionFollowUp.IdInspection = (int)ViewBag.idinspect;
    }

}

<div class="form-horizontal">
    <hr />
    @Html.HiddenFor(model => model.FirstOrDefault().IdInspection)
    <div class="form-group">
        @Html.LabelFor(model => model.FirstOrDefault().InspectionDescription, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstOrDefault().Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstOrDefault().Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstOrDefault().InspectionOwner, "Owner", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstOrDefault().InspectionOwner, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstOrDefault().InspectionOwner, "", new { @class = "text-danger" })
        </div>
        <input type="submit" style="margin-left:325pt; margin-top:10pt" value="Save" id="add" class="btn btn-primary">
    </div>
    <div id="mens"></div>
    <hr />
</div>
@Html.ActionLink("Create Item", "CreateF", new { id = bridgeInspectionFollowUp.IdInspection })

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceFeatureType.Description)
            
        </th>
        <th>
           @Html.DisplayNameFor(model => model.Description) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectionRaiting.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecommendationType.Description)
            
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.IdInspection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceFeatureType.Description)
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionRaiting.Description)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.RecommendationType.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditF", new { id = item.IdBridgeInspectionFollowUp })
                @Html.ActionLink("Delete", "DeleteF", new { id = item.IdBridgeInspectionFollowUp })
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

    $(document).ready(function () {
        $("#add").click(function () {
            var description = $("#InspectionDescription").val();
            var owner = $("#InspectionOwner").val();
            var idinsp = $("#IdInspection").val();
            if (description != "" || owner != "") {
                var Url = '@Url.Action("Save", "Done")';
                $.post(Url, { "id": idinsp, "InspectionDescription": description, "InspectionOwner": owner })
               .done(function (data) {
                   swal('Info', 'Success', 'success');
               })
               .fail(function (xhr, status, error) {
                   swal('Error', xhr.responseText, 'error');
               });
            }
        });
    });

    </script>
}