@model IEnumerable<LMB.Models.InspectionDaily>

@{
    ViewBag.Title = "Done";
}

<style>
    table.dataTable thead tr {
 background: rgba(0, 63, 79, 0.1);
}
    .grey {
  background-color: #e4e1e1;
}

</style>

<table class="table" id="rawdata_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumInspection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDBs.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Control)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scope)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectionState.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongitudeIni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatitudeIni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateInspection)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumInspection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDBs.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Control)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scope)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InspectionState.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongitudeIni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LatitudeIni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateInspection)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.IdInspection }, new { @class = "btn btn-info btn-lg glyphicon glyphicon-edit", @title = "Load Pictures", @onclick="Progress()"})
                </td>
                <td>
                    @Html.ActionLink(" ", "PDFReport", new { id = item.IdInspection }, new { @class = "btn btn-success btn-lg glyphicon glyphicon glyphicon-file", @title = "Open Report", @target = "_blank" })
                </td>
                <td>
                    @Html.ActionLink(" ", "Reports", new { id = item.IdInspection }, new { @class = "btn btn-success btn-lg glyphicon glyphicon glyphicon-file", @title = "Other Report", @target = "_blank" })
                </td>
            </tr>
        }


    </tbody>
</table>


@Html.Raw(TempData["msg"])
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            inicializar(e);
        }
    );
        function tabla() {
            var table = $("#rawdata_table").DataTable();

        }
        
        function inicializar(e) {
            tabla();
        }
    </script>
<script type="text/javascript">
    function Progress() {
        $('#mod-progress').modal()
    };
</script>

}