@model IEnumerable<LMB.Models.QuestionDetails>

@{
    ViewBag.Title = "IndexIR";
}

<h2>Questions</h2>

<p>
</p>
<table class="table">
    @Html.HiddenFor(model => model.FirstOrDefault().InspectionDaily.IdInspection)
    <tr>
        <th>
          
        </th>
           <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.HiddenFor(modelItem => item.InspectionDaily.IdValueCheckList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
                @Html.EditorFor(model => model.FirstOrDefault().value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstOrDefault().value, "", new { @class = "text-danger" })
       
 
        </td>
        
       <td>
            @*@@Html.ActionLink("Edit", "Edit", new { id=item.InspectionDaily.IdInspection }) |
           @@Html.ActionLink("Delete", "Delete", new { id=item.InspectionDaily.IdInspection })*@
        </td>
    </tr>

}

</table>
<input type="submit" style="margin-left:325pt; margin-top:10pt" value="Save" id="add" class="btn btn-primary">
