@*@model IEnumerable<LMB.Models.InspectionDaily>*@
@model IEnumerable<LMB.Models.ModelPDF>

@{
    LMB.Models.ModelPDF inspection = Model.FirstOrDefault();
}

@{
    Layout = null;
    ViewBag.Title = "Done";
}
<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <style>
        div.centrado {
            text-align: center;
        }

        #info {
            width: auto;
        }

        span {
            background-color: lightgray !important;
        }

        div.centrado table {
            margin: 0 auto;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="centrado">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                var logo = string.Empty;
                    <tr>
                        <td rowspan="2">
                            @if (!string.IsNullOrEmpty(item.ImageString))
                            {

                                string image = string.Format("data:image/png;base64,{0}", item.ImageString);
                                <img src=@image  height="600" style="display:block;margin-left:auto;margin-right:auto" />
                                //var plainTextBytes = System.Text.Encoding.UTF8.GetBytes(image);
                                //logo = System.Convert.ToBase64String(plainTextBytes);


                            }


                        </td>
                        <td style="vertical-align:bottom; font-family:Arial">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                    <tr>

                        <td style="vertical-align:top;font-family:Arial">
                            @Html.DisplayFor(modelItem => item.PTDescription)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <div id="info" class="centrado" style="background-color:#BFBFBF">
                <span style="font-family:Arial">
                    <strong>
                        @Html.DisplayNameFor(model => model.Company)
                    </strong>
                    @inspection.Company
                    <strong>
                        @Html.DisplayNameFor(model => model.NumInspection)
                    </strong>
                    @inspection.NumInspection
                    <strong>
                        @Html.DisplayNameFor(model => model.DateInspectionEnd)
                    </strong>
                    @inspection.DateInspectionEnd
                </span>
            </div>
        </div>
    </div>
</body>
</html>

