@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <style>
        body {
            background-color: rgba(166, 178, 181, 0.1);
        }

        div {
            display: block;
        }

        .header, .footer {
            height: 91px;
        }

        .main {
            margin-top: 55px;
        }

       
        .navbar-brand {
            width: 250px;
            padding-left: 50%;
            padding-right: 50%;
        }

   
        .navbar {
            z-index: 2;
            min-height: 50px;
            border: none;
            border-radius: 0;
            margin: 0;
            /*pointer-events: none;*/
            position: relative;
        }

        .menu-superior {
            background-color: #ffffff;
            height: 38px;
        }

        .menu-inferior {
            border-top: 5px solid #d41b1b;
            background: #005E8C;
        }

        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .click_up li a {
            color: white;
        }

        .click_down li a {
            color: white;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .click_up li a:hover:not(.active) {
            background: #d41b1b;
            color: white;
        }

        .click_down li a:hover:not(.active) {
            background: #d41b1b;
            color: white;
        }
        .active {
          background: red;
        }
        /* -- Conteudo -- */
        .in_line_menu {
            font-size: 30px;
        }

        .box1 {
            padding-top: 10px;
            height: 400px;
            background: #e7e7e7;
        }

        .modal-dialog {
            background-color: rgba(138,221,45,0) !important;
            border: none !important;
            box-shadow: none !important;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="header">
        <nav class="navbar">

            <div class="container">

                <div class="header-block clearfix">
                    <div class="menu-superior">
                        <img src="~/img/logo.png" style="width:70px;margin-left:10px;" />
                        <ul class="nav nav-pills click_up">
                            @if (Request.IsAuthenticated)
                            {
                                <li style="float:right;margin-top: 10px;">
                                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>
                                <li style="float:right;margin-top: 10px;">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, htmlAttributes: new { id = "logoutForm",@style= "height: 10px;" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a style="margin-top:-3px;" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                    }
                                </li>
                            }
                            else
                            {
                                <li style="float:right;margin-top: 10px;">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            }


                        </ul>
                    </div><!--/.menu-superior-->

                    <div class="menu-inferior">
                        <ul class="nav nav-pills click_down">
                            <li class="nav nav-pills click_down" style="float:left">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li style="float:left">@Html.ActionLink("Load Data", "LoadData", "RawDatas")</li>
                            <li style="float:left">@Html.ActionLink("Pending Inspections", "Index", "InspectionDailies")</li>
                            <li style="float:left">@Html.ActionLink("Done Inspections", "Index", "Done")</li>
                            <li style="float:left">@Html.ActionLink("Configuration", "Index", "ConfigurationApps")</li>
                            <li style="float:left">@Html.ActionLink("User Manual", "OpenManual", "Manage")</li>

                         </ul>
                    </div><!--/.menu-inferior-->
                </div>
            </div>
        </nav>
    </div>
    @*PROGRESS BAR MODAL*@
    <div class="modal fade" id="mod-progress" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-Loading">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">Loading..</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="container body-content">
        @RenderBody()
        <footer></footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {

            // elementos de la lista
            var menues = $(".nav nav-pills click_down");

            // manejador de click sobre todos los elementos
            menues.click(function () {
                // eliminamos active de todos los elementos
                menues.removeClass("active");
                // activamos el elemento clicado.
                $(this).addClass("active");
            });

        });
        
        $('a').click(function () {
            $('#mod-progress').modal()
        });
    </script>
</body>
</html>
