@using LMB.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
    <style>
        @@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

        .login-block {
            background: #bce0ee; /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #00FFFF, ##FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #00FFFF, ##FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            float: left;
            width: 100%;
            padding: 50px 0;
        }

        .banner-sec {
            background: url(../../img/Logo1.png) no-repeat left bottom;
            background-size: cover;
            min-height: 500px;
            border-radius: 0 10px 10px 0;
            padding: 0;
        }

        .container {
            background: #dbecf6;
            border-radius: 10px;
            box-shadow: 15px 20px 0px rgba(0,0,0,0.1);
        }

        .carousel-inner {
            border-radius: 0 10px 10px 0;
        }

        .carousel-caption {
            text-align: left;
            left: 5%;
        }

        .login-sec {
            padding: 50px 30px;
            position: relative;
        }

            .login-sec .copy-text {
                position: absolute;
                width: 80%;
                bottom: 20px;
                font-size: 13px;
                text-align: center;
            }

                .login-sec .copy-text i {
                    color: #FEB58A;
                }

                .login-sec .copy-text a {
                    color: #E36262;
                }

            .login-sec h2 {
                margin-bottom: 30px;
                font-weight: 800;
                font-size: 30px;
                color: #005E8C;
            }

                .login-sec h2:after {
                    content: " ";
                    width: 100px;
                    height: 5px;
                    background: #e75126;
                    display: block;
                    margin-top: 20px;
                    border-radius: 3px;
                    margin-left: auto;
                    margin-right: auto;
                }

        .btn-login {
            background: #1976D2;
            color: #fff;
            font-weight: 600;
        }

        .banner-text {
            width: 70%;
            position: absolute;
            bottom: 40px;
            padding-left: 20px;
        }

            .banner-text h2 {
                color: #fff;
                font-weight: 600;
            }

                .banner-text h2:after {
                    content: " ";
                    width: 100px;
                    height: 5px;
                    background: #FFF;
                    display: block;
                    margin-top: 20px;
                    border-radius: 3px;
                }

            .banner-text p {
                color: #fff;
            }
    </style>

    <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Login Now</h2>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "text-uppercase" })
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "text-uppercase" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-check">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-label" })
                            <small>Remember Me</small>
                            <button type="submit" class="btn btn-login float-right">Submit</button>
                        </div>
                        <div id="forgot">
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </div>

                    }
                </div>
                <div class="col-md-8 banner-sec">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block img-fluid" src="~/img/Logo3.png" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    @*<div class="banner-text">
                                            <h2>System Inspections Bridge</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                        </div>*@
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="~/img/Logo2.png" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    @*<div class="banner-text">
                                            <h2>System Inspections Bridge</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                        </div>*@>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="~/img/Logo1.png" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    @*<div class="banner-text">
                                            <h2>System Inspections Bridge</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                        </div>*@
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<div class="row">
            <div class="col-md-8">

                <section id="loginForm">

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                        @Html.AntiForgeryToken()
                        <img id="profile-img" class="logo" src="~/img/Logo1.JPG" />
                        <br />
                        <div id="LoginDiv">
                            <br />
                            <p>
                                @Html.Label("Login to our site")
                            </p>
                            <p>
                                @Html.Label("Enter your username and password to log on:")
                            </p>
                            <br />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                    <div id="forgot">
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <input type="submit" value="Sign In" id="btnLogin" class="btn btn-lg btn-primary btn-block btn-signin" width="10" height="10" />
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("Create new User", "Create", "UserDBS")
                            </p>
                            <br />
                        </div>


                    }

                </section>


            </div>
        </div>*@
</body>
</html>
